[Unit]
Description=Labwc Wayland Kiosk
After=network.target sound.target systemd-user-sessions.service

[Service]
User=pi
PAMName=login
Type=simple
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=XDG_SESSION_TYPE=wayland
ExecStart=/usr/bin/labwc
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
